<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="INVOX_Medical_TranscriptionService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
    <applicationSettings>
        <INVOX_Medical_TranscriptionService.Properties.Settings>
            <setting name="INVOX_Medical_TranscriptionService_TranscriptionService_TranscriptService" serializeAs="String">
                <value>http://localhost:59237/TranscriptService.svc</value>
            </setting>
        </INVOX_Medical_TranscriptionService.Properties.Settings>
    </applicationSettings>
</configuration>
